.homeContainer{
    display: grid;
    grid-template-areas: 
    'header header'
    'menu content'
    ;

    grid-template-columns: auto 100%;
    grid-template-rows: auto 100vh;

    position: relative;


    h3{
        font-family: 'Roboto', sans-serif;
        color: var(--FC-TITTLE);

        font-size: 1.4rem;

        margin-bottom: -2rem;


        >span{
            color: var(--FC-INPUT);
            font-weight: 100;
            font-size: 1.2rem;
        }
    }

    .hidden{
        display: none;
    }


    



    .content{
        grid-area: content;
        display: flex;
        flex-direction: column;

        width: 100%;


        padding: 2rem rem 1rem 1rem;

        overflow: auto;

        .calendar{
            display: flex;
            align-items: center;
            gap: 1rem;

            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: var(--FC-TITTLE);

            font-size: 1.4rem;
        }


        .doctorList{
            background-color: var(--BG-HEADER);
            padding: 1rem;
            border-radius: 0.8rem;

            width: 25rem;

            max-width: 100%;



            


            div:nth-child(2){
                top: 3.3rem;
                right: 0.8rem;


                z-index: 998;
            }
        }

        >div{
            display: flex;
            flex-direction: column;

            gap: 1.5rem;
            padding: 2rem;



            width: 90%;

            margin-left: auto;

            button{
                max-width: 8rem;
                height: 1.8rem;
            }

        }

        .startContent{
            flex-direction: row;

            gap: 0.8rem;
        }

      

    }
    
}


@media(min-width: 768px){ 
    .homeContainer{

        

        .content{
            align-items: start;
            padding-left: 5rem;


            .calendar{
                gap: 2.5rem;
            }

            .doctorList{
                display: none;
            }
    
            >div{
                width: 80%;
                flex-direction: row;
            }
            .patientCard{
                flex-wrap: wrap;

            }
    
        }

    }

    
}


@media(min-width: 1024px){ 
    .homeContainer{

        .content{
            padding-left: 1rem;
    
        }

    }
}

